* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body,
header {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body {
    background-image: radial-gradient( circle 820px at 9.1% 22.8%, rgba(216, 247, 229, 1) 0%, rgba(249, 238, 238, 1) 74.7%);
}

.card {
    border: 2px black solid;
    margin: .5pc;
    padding: 1pc;
    background-image: radial-gradient( circle farthest-corner at 0.7% 1%, rgba(215, 248, 247, 1) 0%, rgba(102, 188, 239, 1) 100.2%);
}

.coin-name {
    font-size: 1.6em;
}

.coin-info {
    height: 100%;
    font-size: 1.15em;
}

.title {
    font-size: 2em;
    padding: 1pc;
}
